.option{
    position: absolute;
    top: 420px;
    background-color:blue;
}
.focus-circle{
    position: absolute;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    left: 173px;
    background: rgba(236, 228, 228, 0.69);
}

.focus-label{
    position: absolute;
    height: 54px;
    left: 40px;
    top: 60px;
    font-family: Philosopher;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    color: black;
}

.sleep-circle{
    position: absolute;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    left: 477px;
    top: 350;
    background: rgba(236, 228, 228, 0.69);

}

.sleep-label{
    position: absolute;
    height: 54px;
    left: 40px;
    top: 60px;
    font-family: Philosopher;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    color: black;
}

.meditation-circle{
    position: absolute;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    left: 781px;
    top: 350;
    background: rgba(236, 228, 228, 0.69);
}


.meditation-label{
    position: absolute;
    height: 54px;
    left: 5px;
    top: 60px;
    font-family: Philosopher;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    color: black;
}

.breath-circle{
    position: absolute;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    left: 1085px;
    top: 350;
    background: rgba(236, 228, 228, 0.69);
}

.breath-label{
    position: absolute;
    height: 54px;
    left: 35px;
    top: 60px;
    font-family: Philosopher;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 54px;
    color: black;
}



.headings{
    position: absolute;
    width: 627px;
    height: 192px;
    left: 406px;
    top: 80px;

    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    color: #4F4646;
    line-height: 192px;
    text-shadow: 6px 6px rgba(0, 0, 0, 0.14);;
}

hr{
    position: absolute;
width: 681.01px;
height: 0px;
left: 388px;
top: 330px;

border: 1px solid #000000;
transform: rotate(-0.34deg);
}

.desc{
    position: absolute;
    height: 48px;
    left: 500px;
    top: 320px;

    font-family: Playfair Display SC;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
}

.Home{
    background-color: #ECE0EC;
}